altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fonttools
fpdf
fsspec
gdcm
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mpmath
narwhals
networkx
nltk
numpy
opencv-python-headless
packaging
pandas
pillow
protobuf==3.20.3
pyarrow
pydeck
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
pyparsing
python-dateutil
pytz
referencing
regex
requests
rpds-py
setuptools
six
smmap
streamlit==1.34.0
sympy
tenacity
toml
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
